<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="afterLoginlayout(title,content)">
<head>
	<meta charset="UTF-8" />
	<title th:text="${title}"></title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrapcss/bootstrap-grid.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrapcss/bootstrap-grid.min.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrapcss/bootstrap.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrapcss/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/fontawesome5.min.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" 
		  integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" 
		  crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
	<div th:replace="~{afterLoginheader::afterLoginHeader}"></div>
	
	<div class="sidebar">
			<h3><i class="fas fa-xmark cross-icon" onclick="toggleSideBar()"></i></h3>
			<a href="#" th:href="@{/home}"><i class="fas fa-home"></i> Home</a> <!--  -->
			<a href="#" th:href="@{/user/add-contact}"><i class="fa-solid fa-user-plus"></i> Add Contact</a>
			<a href="#" th:href="@{/user/view-contact}"><i class="fas fa-eye"></i> View Contact</a>
			<a href="#" th:href="@{/user/profile}"><i class="fas fa-light fas fa-id-card"></i> Profile</a>
			<a href="#" th:href="@{/user/setting}"><i class="fas fa-regular fas fa-gear"></i> Setting</a>
			<div class="divider"></div>
	</div>	
	<div class="after-login-content">
			<h3><i class="fas fa-bars pt-5 m-3 "onclick="toggleSideBar()"></i></h3>
		<div class="" th:insert="${content}"></div>
	</div>

	<div th:replace="~{footer::commonFooter}"></div>

	<script th:src="@{/js/script.js}"></script>
	<script th:src="@{/js/bootstrapjs/bootstrap.bundle.js}"></script>
	<script th:src="@{/js/bootstrapjs/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/bootstrapjs/bootstrap.js}"></script>
	<script th:src="@{/js/bootstrapjs/bootstrap.min.js}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</body>
</html>