<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="commonFooter">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        <div class="footer p-3">
            <div class="row">
                <div class="col-lg-6 text-white">
                        <h1>Contact Manager</h1>
                        <p>Designed & Developed By Faizal Ath.</p>
                </div>
                <div class="col-lg-6 icons">
                        <a th:href="@{https://twitter.com/athaniya_faizal}" target="_blank"><img th:src="@{/images/twitter-logo.png}" alt="Twitter" class="social-media-icon"/></a>
                        <a th:href="@{https://instagram.com/athaniyafaizal}" target="_blank"><img th:src="@{/images/instagram-logo.png}" alt="Instagram" class="social-media-icon"/></a>
                        <a th:href="@{https://www.facebook.com/profile.php?id=100075672611075&mibextid=ZbWKwL}" target="_blank"><img th:src="@{/images/facebook-logo.png}" alt="FaceBook" class="social-media-icon"/></a>
                </div>
            </div>
        </div>
   
</body>
</html>