<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:insert="~{base::layout('home Page',~{::.body-part})}">

<head>
	<meta charset="UTF-8" />
	<title>HOME Page</title>
	<style>

	</style>
</head>

<body>
	
	<div class="body-part">
		<h1>Smart Contact Manager</h1>
		<p>A contact manager is a software program that enables users to easily store and find contact information, such
			as names, addresses, and telephone numbers. They are contact-centric databases that provide a fully
			integrated approach to tracking all information and communication activities linked to contacts. Simple ones
			for personal use are included in most smartphones. The main reference standard for contact data and
			metadata, semantic and interchange, is the vCard.</p>
		<button class="btn btn-info" type="button">Get Started</button>
	</div>
</body>

</html>