<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:insert="~{base::layout('Sign-UP',~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <section class="body-part">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card" id="login-card">
                        <div class="card-header">
                            <div class="alert" th:if="${message != null}" th:classappend="${message.msg_type}" role="alert">
                                <p th:text="${message.message}"></p>
                            </div>
                            <div class="contsiner text-center">
                                <img style="height: 50px;width: 80px;" th:src="@{/images/register_image.png}" alt="reg">
                            </div>
                            <h1 class="text-center">Sign-UP</h1>
                        </div>
                        <div class="card-body">
                            <form th:action="@{/do_register}" method="post">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label for="nameId">Your Name</label>
                                            <input type="text" 
                                                   class="form-control" 
                                                   id="nameId"
                                                   name="your_name"
                                                   th:value="${userData.your_name}"
                                                   placeholder="Enter Name" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label for="emailid">Email address</label>
                                            <input type="email" 
                                            class="form-control" 
                                            id="emailid"
                                            name="email_id" 
                                            th:value="${userData.email_id}"
                                            aria-describedby="emailHelp"
                                            placeholder="Enter email" required>
                                            <small id="emailHelp" class="form-text text-muted text-danger">We'll never share your email with anyone else.</small>
                                          </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label for="password_id">Password</label>
                                            <input type="password" 
                                            class="form-control" 
                                            id="password_id"
                                            name="password"
                                            required>
                                          </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group form-check">
                                            <input type="checkbox" 
                                            class="form-check-input" 
                                            name="terms_conditions"
                                            id="terms_conditions_id">
                                            <label class="form-check-label" for="terms_conditions_id">Agree Terms and Conditiond !!</label>
                                          </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center">
                                        <button type="submit" class="btn btn-info">Sign-UP</button>
                                        <button type="reset" class="btn btn-warning ml-1">Reset</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </section>
</body>
</html>